
<section class="menu-container">
    <article class="menu-content">
        <a class="menu-links" href="#">
            <img id="home-icon" src="/images/home.svg" alt="home icon">
            Home
        </a>
        <a class="menu-links" href="#">
            <img id="profile-icon" src="/images/person-outline.svg" alt="profile icon">
            Profile
        </a>
        <a class="menu-links" href="#">
            <img id="puzzle-icon" src="/images/Vector.svg" alt="puzzle icon">
            Testing
        </a>
        <a class="menu-links" href="#">
            <img id="stats-icon" src="/images/bar-chart-outline.svg" alt="stats icon">
            Statistics
        </a>
        <a class="menu-links" href="#">
            <img id="book-icon" src="/images/book-outline.svg" alt="book icon">
            Lessons
        </a>
        <button class="menu-close-button">
            <img  src="/images/icons/Cross.svg" alt="kruisje">
        </button>
    </article>
</section>
