@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* color */
    --lessons-h1-color: #FFFFFF;
    --lessons-listening-box-color:#139943;
    --lessons-story-box:#FFFFFF;
    --lessons-dark-text-color:#000000;

  
    /* paddding/layout */
    --lessons-story-box-width:22.9rem;;
    --border-radius-standard:0.5rem;
}

body {
    margin: 0;

    overflow: hidden;
    height: 100vh;
    background-image: url("/images/background-mountains.png"), linear-gradient(180deg, #3C6FA9 0%, #97b7d7 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

a {
    color: currentColor;
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
  align-items: flex-end;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 1rem;
  padding: 34px 1rem;
  height: calc(100vh - 70px);
}

.info-content {
    margin-right: 100px;
}

.info-content .avatar {
    width: 350px;
    height: 450px;
    object-fit: fill;
}


.dashboard {
    width: 765px;
    background-color: rgba(159, 159, 159, 0.2);
    box-shadow: 0px 2px 10px #0000000f;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 30px 50px;
    width: 100%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 70px);
    height: 100%;
    overflow: hidden;
}

.dashboard .content-title {
    margin-bottom: 20px;
}

.dashboard .content-title h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.dashboard .content-title h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

.dashboard .content {
    overflow-y: scroll;
}

.dashboard .content > div {
    margin-right: 10px;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #139943;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D6E3D;
}


.card-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  min-height: 285px;
  /* height: 295px; */
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;

  picture {
    width: 100%;
    height: 100%;
    background-color: #5AB4F5;
    max-height: 164px;
    overflow: hidden;
    border-radius: 4px;
  }

  img.logo, source {
    /* center */
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: relative;
  }

  .text-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 10px 0;
      }
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .play {
      gap: 5px;
      display: flex;
      align-items: center;
      

      img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
    }

    .additional-actions {
      display: flex;
      align-items: center;

      a {
        display: flex;
        margin: 0 5px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      button {
        display: flex;
        cursor: pointer;
        border: none;
        background: transparent;
      }
    }
  }
}

/* Stories */

.list-stories  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--border-radius-standard);
    color: var(--lessons-dark-text-color);
}


.li-story {
  background-color: var(--lessons-story-box);
  width:20.3rem;
  height: 8.5rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.img-story {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  margin:1rem 0.5rem
  
}

.title-story{
  white-space: nowrap;
  position:relative;
    margin-left:0.8rem;
}

.summaryStory {
  font-size: 0.9rem;
  width: 15rem;
  max-width: 18rem;
  position:relative;
  bottom:2rem;
  margin-left:0.8rem;

}

/* Grid story */
.li-story .img-story {
  grid-column: 1;
  grid-row: 1 / 3;
}

.li-story .title-story {
  grid-column: 2 / 3;
    grid-row: 1;
} 

.li-story .summaryStory {
    grid-column: 2 / 3 ;
    grid-row: 2;
}

  .li-story .interactions-story {
    grid-column: 2 / 3;
    grid-row: 2;
  }

.hidden {
  visibility: hidden;
}
/* buttons */
.storiesButton, .playlistsButton  {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color:#325072;
  color:white;
   transition: transform 0.3s ease;
}
.placeholder-buttons {
  margin:0.5rem;
}

.playlistsButton:hover, .storiesButton:hover, .active {
  cursor: pointer;
  background-color: white;
  color:#325072 ;
  transform: scale(1.06);
}

.heart-button:hover {
  animation: like 0.5s forwards;

}

/* keyframes */
@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}


/* Media 1200 */

@media (max-width: 1200px) {
  .info-content {
      display: none;
  }

  .nav-container nav .buttons {
    display: none;
  }
  

}


@media (max-width: 768px) {
  body {
    overflow: auto;
      background-image: none;
      background: linear-gradient(180deg, #3C6FA9 0%, #052242 100%);
  }
  .container {
      height: auto;
      padding: 0;
  }

  .dashboard {
    background-color: transparent;
    padding: 20px;
  }

  .card-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
  

.dashboard .content {
    overflow-y: auto;
}

}
@media (min-width: 768px) {
  .list-stories  {
    grid-template-columns: repeat(2, 2fr);
    max-width:23rem;
    
  }
}

@media (max-width: 468px) {
  .card-grid {

    grid-template-columns: repeat(1, 1fr);
  }
  
}