<%- include('./components/head') %>
<div class="container">
      <div class="info-content">
        <div class="avatar">
          <img src="/images/pingiun.png" alt="" />
        </div>
      </div>

      <div class="dashboard">
        <!-- <div class="content-title">
            <h1>
                Lessons with Listening
            </h1>
            <h2>
                Hello Jelte, what do you want to learn today?
            </h2>
        </div> -->
        <div class="content">
          <div class="playlists">
            <% if (liked_playlists.length > 0) { %>
            <h2>Liked playlists</h2>
            <div class="card-grid card-grid-3">
              <% liked_playlists.forEach(item => { %> <%-
              include('./components/playlist-card',{item: item}) %> <% }) %>
            </div>
            <% } %>

            <h2>Playlists</h2>
            <div class="carousel">
              <div class="card-grid">
                <% playlists.forEach(item => { %> <%-
                include('./components/playlist-card',{item: item}) %> <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- include('./components/foot') %>