<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/navbar.css" />
    <link rel="stylesheet" href="/style/style2.css" />

    <title>Home</title>
    <meta content="Home" name="description" />
    <meta property="og:title" content="" />
    <meta property="og:site_name" content="Home" />
    <meta property="og:description" content="Home" />
    <meta property="og:image" content="Home" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image" href="Home" />

  </head>

  <div class="nav-container" id="top">
    <nav>
      <div class="profile">
        <img src="/images/profile-image.png" alt="profile picture" />
        <h2>Jelte</h2>
        <a href="" title="settings">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 14C12.6569 14 14 12.6569 14 11C14 9.34315 12.6569 8 11 8C9.34315 8 8 9.34315 8 11C8 12.6569 9.34315 14 11 14Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.7273 13.7273C17.6063 14.0015 17.5702 14.3056 17.6236 14.6005C17.6771 14.8954 17.8177 15.1676 18.0273 15.3818L18.0818 15.4364C18.2509 15.6052 18.385 15.8057 18.4765 16.0265C18.568 16.2472 18.6151 16.4838 18.6151 16.7227C18.6151 16.9617 18.568 17.1983 18.4765 17.419C18.385 17.6397 18.2509 17.8402 18.0818 18.0091C17.913 18.1781 17.7124 18.3122 17.4917 18.4037C17.271 18.4952 17.0344 18.5423 16.7955 18.5423C16.5565 18.5423 16.3199 18.4952 16.0992 18.4037C15.8785 18.3122 15.678 18.1781 15.5091 18.0091L15.4545 17.9545C15.2403 17.745 14.9682 17.6044 14.6733 17.5509C14.3784 17.4974 14.0742 17.5335 13.8 17.6545C13.5311 17.7698 13.3018 17.9611 13.1403 18.205C12.9788 18.4489 12.8921 18.7347 12.8909 19.0273V19.1818C12.8909 19.664 12.6994 20.1265 12.3584 20.4675C12.0174 20.8084 11.5549 21 11.0727 21C10.5905 21 10.1281 20.8084 9.78708 20.4675C9.4461 20.1265 9.25455 19.664 9.25455 19.1818V19.1C9.24751 18.7991 9.15011 18.5073 8.97501 18.2625C8.79991 18.0176 8.55521 17.8312 8.27273 17.7273C7.99853 17.6063 7.69437 17.5702 7.39947 17.6236C7.10456 17.6771 6.83244 17.8177 6.61818 18.0273L6.56364 18.0818C6.39478 18.2509 6.19425 18.385 5.97353 18.4765C5.7528 18.568 5.51621 18.6151 5.27727 18.6151C5.03834 18.6151 4.80174 18.568 4.58102 18.4765C4.36029 18.385 4.15977 18.2509 3.99091 18.0818C3.82186 17.913 3.68775 17.7124 3.59626 17.4917C3.50476 17.271 3.45766 17.0344 3.45766 16.7955C3.45766 16.5565 3.50476 16.3199 3.59626 16.0992C3.68775 15.8785 3.82186 15.678 3.99091 15.5091L4.04545 15.4545C4.25503 15.2403 4.39562 14.9682 4.4491 14.6733C4.50257 14.3784 4.46647 14.0742 4.34545 13.8C4.23022 13.5311 4.03887 13.3018 3.79497 13.1403C3.55107 12.9788 3.26526 12.8921 2.97273 12.8909H2.81818C2.33597 12.8909 1.87351 12.6994 1.53253 12.3584C1.19156 12.0174 1 11.5549 1 11.0727C1 10.5905 1.19156 10.1281 1.53253 9.78708C1.87351 9.4461 2.33597 9.25455 2.81818 9.25455H2.9C3.2009 9.24751 3.49273 9.15011 3.73754 8.97501C3.98236 8.79991 4.16883 8.55521 4.27273 8.27273C4.39374 7.99853 4.42984 7.69437 4.37637 7.39947C4.3229 7.10456 4.18231 6.83244 3.97273 6.61818L3.91818 6.56364C3.74913 6.39478 3.61503 6.19425 3.52353 5.97353C3.43203 5.7528 3.38493 5.51621 3.38493 5.27727C3.38493 5.03834 3.43203 4.80174 3.52353 4.58102C3.61503 4.36029 3.74913 4.15977 3.91818 3.99091C4.08704 3.82186 4.28757 3.68775 4.50829 3.59626C4.72901 3.50476 4.96561 3.45766 5.20455 3.45766C5.44348 3.45766 5.68008 3.50476 5.9008 3.59626C6.12152 3.68775 6.32205 3.82186 6.49091 3.99091L6.54545 4.04545C6.75971 4.25503 7.03183 4.39562 7.32674 4.4491C7.62164 4.50257 7.9258 4.46647 8.2 4.34545H8.27273C8.54161 4.23022 8.77093 4.03887 8.93245 3.79497C9.09397 3.55107 9.18065 3.26526 9.18182 2.97273V2.81818C9.18182 2.33597 9.37338 1.87351 9.71435 1.53253C10.0553 1.19156 10.5178 1 11 1C11.4822 1 11.9447 1.19156 12.2856 1.53253C12.6266 1.87351 12.8182 2.33597 12.8182 2.81818V2.9C12.8193 3.19253 12.906 3.47834 13.0676 3.72224C13.2291 3.96614 13.4584 4.15749 13.7273 4.27273C14.0015 4.39374 14.3056 4.42984 14.6005 4.37637C14.8954 4.3229 15.1676 4.18231 15.3818 3.97273L15.4364 3.91818C15.6052 3.74913 15.8057 3.61503 16.0265 3.52353C16.2472 3.43203 16.4838 3.38493 16.7227 3.38493C16.9617 3.38493 17.1983 3.43203 17.419 3.52353C17.6397 3.61503 17.8402 3.74913 18.0091 3.91818C18.1781 4.08704 18.3122 4.28757 18.4037 4.50829C18.4952 4.72901 18.5423 4.96561 18.5423 5.20455C18.5423 5.44348 18.4952 5.68008 18.4037 5.9008C18.3122 6.12152 18.1781 6.32205 18.0091 6.49091L17.9545 6.54545C17.745 6.75971 17.6044 7.03183 17.5509 7.32674C17.4974 7.62164 17.5335 7.9258 17.6545 8.2V8.27273C17.7698 8.54161 17.9611 8.77093 18.205 8.93245C18.4489 9.09397 18.7347 9.18065 19.0273 9.18182H19.1818C19.664 9.18182 20.1265 9.37338 20.4675 9.71435C20.8084 10.0553 21 10.5178 21 11C21 11.4822 20.8084 11.9447 20.4675 12.2856C20.1265 12.6266 19.664 12.8182 19.1818 12.8182H19.1C18.8075 12.8193 18.5217 12.906 18.2778 13.0676C18.0339 13.2291 17.8425 13.4584 17.7273 13.7273Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </a>

        <a href="" title="settings">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.3767 15.6163L2.71985 21.2732M11.6944 6.64181L10.1335 8.2027C10.0062 8.33003 9.94252 8.39369 9.86999 8.44427C9.80561 8.48917 9.73616 8.52634 9.66309 8.555C9.58077 8.58729 9.49249 8.60495 9.31592 8.64026L5.65145 9.37315C4.69915 9.56361 4.223 9.65884 4.00024 9.9099C3.80617 10.1286 3.71755 10.4213 3.75771 10.7109C3.8038 11.0434 4.14715 11.3867 4.83387 12.0735L11.9196 19.1592C12.6063 19.8459 12.9497 20.1893 13.2821 20.2354C13.5718 20.2755 13.8645 20.1869 14.0832 19.9928C14.3342 19.7701 14.4294 19.2939 14.6199 18.3416L15.3528 14.6771C15.3881 14.5006 15.4058 14.4123 15.4381 14.33C15.4667 14.2569 15.5039 14.1875 15.5488 14.1231C15.5994 14.0505 15.663 13.9869 15.7904 13.8596L17.3512 12.2987C17.4326 12.2173 17.4734 12.1766 17.5181 12.141C17.5578 12.1095 17.5999 12.081 17.644 12.0558C17.6936 12.0274 17.7465 12.0048 17.8523 11.9594L20.3467 10.8904C21.0744 10.5785 21.4383 10.4226 21.6035 10.1706C21.7481 9.95025 21.7998 9.68175 21.7474 9.42348C21.6875 9.12813 21.4076 8.84822 20.8478 8.28839L15.7047 3.14526C15.1448 2.58543 14.8649 2.30552 14.5696 2.24565C14.3113 2.19329 14.0428 2.245 13.8225 2.38953C13.5705 2.55481 13.4145 2.91866 13.1027 3.64636L12.0337 6.14071C11.9883 6.24653 11.9656 6.29944 11.9373 6.34905C11.9121 6.39313 11.8836 6.43522 11.852 6.47496C11.8165 6.51971 11.7758 6.56041 11.6944 6.64181Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </a>
      </div>

      <div class="buttons">
        <a href="/" class="button" title="listening">
          <span>1.</span>
          <span>Listening</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
          >
            <link
              xmlns=""
              type="text/css"
              id="dark-mode"
              rel="stylesheet"
              href=""
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.9584 2.16666C11.9584 4.58291 13.9172 6.54166 16.3334 6.54166C16.6786 6.54166 16.9584 6.82149 16.9584 7.16666C16.9584 7.51184 16.6786 7.79166 16.3334 7.79166C14.5664 7.79166 12.9896 6.97687 11.9584 5.7025V15.5C11.9584 17.6861 10.1862 19.4583 8.00008 19.4583C5.81395 19.4583 4.04175 17.6861 4.04175 15.5C4.04175 13.3139 5.81395 11.5417 8.00008 11.5417C9.04776 11.5417 10.0004 11.9487 10.7084 12.6132V2.16666H11.9584ZM10.7084 15.5C10.7084 14.0042 9.49585 12.7917 8.00008 12.7917C6.50431 12.7917 5.29175 14.0042 5.29175 15.5C5.29175 16.9958 6.50431 18.2083 8.00008 18.2083C9.49585 18.2083 10.7084 16.9958 10.7084 15.5Z"
              fill="white"
            />
          </svg>
        </a>

        <a href="/" class="button locked" title="locked">
          <span>2.</span>
          <span>Speaking</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <link
              xmlns=""
              type="text/css"
              id="dark-mode"
              rel="stylesheet"
              href=""
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.70842 13.8333C7.70842 12.5677 8.73443 11.5417 10.0001 11.5417C11.2657 11.5417 12.2917 12.5677 12.2917 13.8333C12.2917 15.099 11.2657 16.125 10.0001 16.125C8.73443 16.125 7.70842 15.099 7.70842 13.8333ZM10.0001 12.7917C9.42479 12.7917 8.95842 13.258 8.95842 13.8333C8.95842 14.4086 9.42479 14.875 10.0001 14.875C10.5754 14.875 11.0417 14.4086 11.0417 13.8333C11.0417 13.258 10.5754 12.7917 10.0001 12.7917Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.37508 8.2523V7.16666C4.37508 4.06006 6.89348 1.54166 10.0001 1.54166C13.1067 1.54166 15.6251 4.06006 15.6251 7.16666V8.2523C15.8141 8.26559 15.9923 8.2829 16.1599 8.30543C16.91 8.40628 17.5415 8.62203 18.0431 9.12362C18.5447 9.62522 18.7605 10.2568 18.8613 11.0069C18.9584 11.7293 18.9584 12.6479 18.9584 13.7876V13.8791C18.9584 15.0187 18.9584 15.9373 18.8613 16.6598C18.7605 17.4099 18.5447 18.0414 18.0431 18.543C17.5415 19.0446 16.91 19.2604 16.1599 19.3612C15.4374 19.4584 14.5188 19.4583 13.3791 19.4583H6.62102C5.48136 19.4583 4.56276 19.4584 3.84029 19.3612C3.0902 19.2604 2.45864 19.0446 1.95704 18.543C1.45544 18.0414 1.2397 17.4099 1.13885 16.6598C1.04172 15.9373 1.04173 15.0187 1.04175 13.8791V13.7876C1.04173 12.6479 1.04172 11.7293 1.13885 11.0069C1.2397 10.2568 1.45544 9.62522 1.95704 9.12362C2.45864 8.62203 3.0902 8.40628 3.84029 8.30543C4.0079 8.2829 4.18606 8.26559 4.37508 8.2523ZM5.62508 7.16666C5.62508 4.75042 7.58384 2.79166 10.0001 2.79166C12.4163 2.79166 14.3751 4.75042 14.3751 7.16666V8.2112C14.0638 8.20832 13.7321 8.20833 13.3791 8.20833H6.62102C6.26809 8.20833 5.93635 8.20832 5.62508 8.2112V7.16666ZM4.00685 9.54429C3.39537 9.6265 3.07156 9.77687 2.84092 10.0075C2.61029 10.2381 2.45992 10.562 2.37771 11.1734C2.29308 11.8029 2.29175 12.6372 2.29175 13.8333C2.29175 15.0295 2.29308 15.8638 2.37771 16.4932C2.45992 17.1047 2.61029 17.4285 2.84092 17.6592C3.07156 17.8898 3.39537 18.0402 4.00685 18.1224C4.63631 18.207 5.47057 18.2083 6.66675 18.2083H13.3334C14.5296 18.2083 15.3639 18.207 15.9933 18.1224C16.6048 18.0402 16.9286 17.8898 17.1592 17.6592C17.3899 17.4285 17.5402 17.1047 17.6225 16.4932C17.7071 15.8638 17.7084 15.0295 17.7084 13.8333C17.7084 12.6372 17.7071 11.8029 17.6225 11.1734C17.5402 10.562 17.3899 10.2381 17.1592 10.0075C16.9286 9.77687 16.6048 9.6265 15.9933 9.54429C15.3639 9.45966 14.5296 9.45833 13.3334 9.45833H6.66675C5.47057 9.45833 4.63631 9.45966 4.00685 9.54429Z"
              fill="white"
            />
          </svg>
        </a>

        <a href="/" class="button locked" title="locked">
          <span>3.</span>
          <span>Writing</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <link
              xmlns=""
              type="text/css"
              id="dark-mode"
              rel="stylesheet"
              href=""
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.70842 13.8333C7.70842 12.5677 8.73443 11.5417 10.0001 11.5417C11.2657 11.5417 12.2917 12.5677 12.2917 13.8333C12.2917 15.099 11.2657 16.125 10.0001 16.125C8.73443 16.125 7.70842 15.099 7.70842 13.8333ZM10.0001 12.7917C9.42479 12.7917 8.95842 13.258 8.95842 13.8333C8.95842 14.4086 9.42479 14.875 10.0001 14.875C10.5754 14.875 11.0417 14.4086 11.0417 13.8333C11.0417 13.258 10.5754 12.7917 10.0001 12.7917Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.37508 8.2523V7.16666C4.37508 4.06006 6.89348 1.54166 10.0001 1.54166C13.1067 1.54166 15.6251 4.06006 15.6251 7.16666V8.2523C15.8141 8.26559 15.9923 8.2829 16.1599 8.30543C16.91 8.40628 17.5415 8.62203 18.0431 9.12362C18.5447 9.62522 18.7605 10.2568 18.8613 11.0069C18.9584 11.7293 18.9584 12.6479 18.9584 13.7876V13.8791C18.9584 15.0187 18.9584 15.9373 18.8613 16.6598C18.7605 17.4099 18.5447 18.0414 18.0431 18.543C17.5415 19.0446 16.91 19.2604 16.1599 19.3612C15.4374 19.4584 14.5188 19.4583 13.3791 19.4583H6.62102C5.48136 19.4583 4.56276 19.4584 3.84029 19.3612C3.0902 19.2604 2.45864 19.0446 1.95704 18.543C1.45544 18.0414 1.2397 17.4099 1.13885 16.6598C1.04172 15.9373 1.04173 15.0187 1.04175 13.8791V13.7876C1.04173 12.6479 1.04172 11.7293 1.13885 11.0069C1.2397 10.2568 1.45544 9.62522 1.95704 9.12362C2.45864 8.62203 3.0902 8.40628 3.84029 8.30543C4.0079 8.2829 4.18606 8.26559 4.37508 8.2523ZM5.62508 7.16666C5.62508 4.75042 7.58384 2.79166 10.0001 2.79166C12.4163 2.79166 14.3751 4.75042 14.3751 7.16666V8.2112C14.0638 8.20832 13.7321 8.20833 13.3791 8.20833H6.62102C6.26809 8.20833 5.93635 8.20832 5.62508 8.2112V7.16666ZM4.00685 9.54429C3.39537 9.6265 3.07156 9.77687 2.84092 10.0075C2.61029 10.2381 2.45992 10.562 2.37771 11.1734C2.29308 11.8029 2.29175 12.6372 2.29175 13.8333C2.29175 15.0295 2.29308 15.8638 2.37771 16.4932C2.45992 17.1047 2.61029 17.4285 2.84092 17.6592C3.07156 17.8898 3.39537 18.0402 4.00685 18.1224C4.63631 18.207 5.47057 18.2083 6.66675 18.2083H13.3334C14.5296 18.2083 15.3639 18.207 15.9933 18.1224C16.6048 18.0402 16.9286 17.8898 17.1592 17.6592C17.3899 17.4285 17.5402 17.1047 17.6225 16.4932C17.7071 15.8638 17.7084 15.0295 17.7084 13.8333C17.7084 12.6372 17.7071 11.8029 17.6225 11.1734C17.5402 10.562 17.3899 10.2381 17.1592 10.0075C16.9286 9.77687 16.6048 9.6265 15.9933 9.54429C15.3639 9.45966 14.5296 9.45833 13.3334 9.45833H6.66675C5.47057 9.45833 4.63631 9.45966 4.00685 9.54429Z"
              fill="white"
            />
          </svg>
        </a>
      </div>

      <a class="menu-button" href="" title="mobile-menu">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_195_147)">
            <path
              d="M26.6666 23.3333C27.1802 23.3336 27.674 23.5314 28.0458 23.8859C28.4175 24.2403 28.6386 24.7242 28.6633 25.2372C28.688 25.7502 28.5143 26.2531 28.1784 26.6416C27.8424 27.0301 27.3698 27.2744 26.8586 27.324L26.6666 27.3333H5.33325C4.81963 27.3331 4.32579 27.1352 3.95407 26.7808C3.58235 26.4263 3.36124 25.9425 3.33655 25.4294C3.31187 24.9164 3.48551 24.4136 3.82149 24.0251C4.15746 23.6366 4.63003 23.3922 5.14125 23.3427L5.33325 23.3333H26.6666ZM26.6666 14C27.197 14 27.7057 14.2107 28.0808 14.5858C28.4559 14.9609 28.6666 15.4696 28.6666 16C28.6666 16.5304 28.4559 17.0391 28.0808 17.4142C27.7057 17.7893 27.197 18 26.6666 18H5.33325C4.80282 18 4.29411 17.7893 3.91904 17.4142C3.54397 17.0391 3.33325 16.5304 3.33325 16C3.33325 15.4696 3.54397 14.9609 3.91904 14.5858C4.29411 14.2107 4.80282 14 5.33325 14H26.6666ZM26.6666 4.66667C27.197 4.66667 27.7057 4.87738 28.0808 5.25245C28.4559 5.62753 28.6666 6.13623 28.6666 6.66667C28.6666 7.1971 28.4559 7.70581 28.0808 8.08088C27.7057 8.45595 27.197 8.66667 26.6666 8.66667H5.33325C4.80282 8.66667 4.29411 8.45595 3.91904 8.08088C3.54397 7.70581 3.33325 7.1971 3.33325 6.66667C3.33325 6.13623 3.54397 5.62753 3.91904 5.25245C4.29411 4.87738 4.80282 4.66667 5.33325 4.66667H26.6666Z"
              fill="#F8F8F8"
            />
          </g>
          <defs>
            <clipPath id="clip0_195_147">
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
    </nav>
  </div>

<div class="container">
    <div class="info-content">
      <div class="avatar">
        <img src="/images/mouse.png" alt="mouse" />
      </div>
    </div>
    <section class="dashboard">
    <div class="content">
        <div class="playlists">
            <a href="/" aria-label="back to home"> <svg width="32px" height="32px" viewBox="-4.5 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>arrow_left [#ffffff]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-345.000000, -6679.000000)" fill="#ffffff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M299.633777,6519.29231 L299.633777,6519.29231 C299.228878,6518.90256 298.573377,6518.90256 298.169513,6519.29231 L289.606572,6527.55587 C288.797809,6528.33636 288.797809,6529.60253 289.606572,6530.38301 L298.231646,6538.70754 C298.632403,6539.09329 299.27962,6539.09828 299.685554,6538.71753 L299.685554,6538.71753 C300.100809,6538.32879 300.104951,6537.68821 299.696945,6537.29347 L291.802968,6529.67648 C291.398069,6529.28574 291.398069,6528.65315 291.802968,6528.26241 L299.633777,6520.70538 C300.038676,6520.31563 300.038676,6519.68305 299.633777,6519.29231" id="arrow_left-[#ffffff]"> </path> </g> </g> </g> </g></svg></a>

        <h2>All Stories</h2>
        <!-- Zoeken -->
        <form id="searchForm" class="search" action="/stories" method="GET">
            <input id="searchInput" class="search" type="text" placeholder="Search for stories" name="search" value="<%= typeof search !== 'undefined' ? search : '' %>" >
            <button type="submit"> Search <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
                <g fill="#9264f4" fill-rule="nonzero" stroke="none" stroke-width="2" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M21,3c-9.37891,0 -17,7.62109 -17,17c0,9.37891 7.62109,17 17,17c3.71094,0 7.14063,-1.19531 9.9375,-3.21875l13.15625,13.125l2.8125,-2.8125l-13,-13.03125c2.55469,-2.97656 4.09375,-6.83984 4.09375,-11.0625c0,-9.37891 -7.62109,-17 -17,-17zM21,5c8.29688,0 15,6.70313 15,15c0,8.29688 -6.70312,15 -15,15c-8.29687,0 -15,-6.70312 -15,-15c0,-8.29687 6.70313,-15 15,-15z"></path></g></g>
            </svg></button>
        </form>
        <div class="sorting">
            <a href="/stories?sort=Animal" aria-label="sort animal" class="storiesButton">Animal</a>
            <a href="/stories?sort=Season" aria-label="sort season" class="storiesButton">Season</a>
            <a href="/stories?sort=Language" aria-label="sort language" class="storiesButton">Language</a>
            <a href="#" aria-label="sort other" class="storiesButton">Sorting</a>
        </div>
        <%- include('./components/allstories') %>
        </div>
        </div>
    </section>
</div>
