/*.banner {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background-color: var(--primary-color);*/

/*    margin: 0;*/
/*    padding: 0;*/

/*}*/
body {
    display: flex;
    overflow-x: hidden;
    background-color: #FF0000FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    position: absolute;
    width: 100vw;
    top: 8%;
    background-color: var(--body-color);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 5em;
}

.content-wrapper-active {
    display: block;
}

.profile-picture {
    position: absolute;
    bottom: 100%; /* Plaats het element verticaal in het midden */
    top: 0.01%;
    /* Plaats het element horizontaal in het midden */
    transform: translate(6%, -50%); /* Verschuif het element terug met 50% van zijn eigen breedte en hoogte */
    border-radius: 100%; /* Maak de afbeelding rond */
}

h1::first-line {
    font-weight: bold;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

}

.details-buttons {
    background: none;
    border: none;
    font-size: 1.5em;
    color: var(--text-color);
    cursor: pointer;
}

/*hidden details*/

.details-item-container {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto); /* Vaste hoogte van 200px voor alle rijen */
    grid-gap: 1em; /* Optioneel: voeg ruimte toe tussen de kolommen */
}

.details-close-buttons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1em 0;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

.for-you-details {
    display: none;
}

.for-you-details-active {
    display: block;

}

.favorites-details {
    display: none;
}

.borrowed-books-details {
    display: none;
}

.borrowed-books-details-active {
    display: block;
}

ul {
    list-style: none;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: 3em;
    width: 100%
}

.carousel-items {
    list-style: none;
    margin: 1em;
    scroll-snap-align: center;
}

.bookCarouselImg {
    border-radius: var(--radius-small);
    cursor: pointer;
}

.bookCarouselImg:hover {
    scale: 1.1;
    transition: 0.1s ease-out;
}


::-webkit-scrollbar {
    height: 0.5em;
    width: 0.3em;
    background: #B6B6B6;
    border-radius: var(--radius-small);
}

::-webkit-scrollbar-thumb:horizontal {
    background: #FF0000FF;
    border-radius: var(--radius-small);
    width: 5em;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #FF0000FF;
    width: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-button:end {
    width: 0.5em;
}

::-webkit-scrollbar-button:start {
    width: 0.5em;
}

::-webkit-scrollbar-button {
    height: 1em;
}

/*media queries*/

@media (max-width: 2000px) {
    /* Plaats hier je CSS regels */
    .content-wrapper {
        width: 85vw;
    }
}

@media (max-width: 1000px) {
    /* Plaats hier je CSS regels */
    .content-wrapper {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    /* Plaats hier je CSS regels */
    .content-wrapper {
        width: 70vw;
    }

    h2 {
        font-size: 1.2em;
    }

    .details-buttons {
        font-size: 1.2em;
    }
}




/*ul {*/
/*    max-height: 600px;*/
/*    border: 1px solid #ddd;*/
/*    display: flex;*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden; !* verticale scroll uitzetten *!*/
/*    gap: 4em;*/
/*    margin: 2em;*/
/*    text-align: center;*/
/*}*/

/*li{*/
/*    min-width: 400px;*/
/*    height: 600px;*/
/*    line-height: 350px;*/
/*    text-align: center;*/
/*    background-color: #ddd;*/
/*    margin-right: 10px;*/

/*}*/